
    

on early-init
    # initialize magisk enviroment
    umount /sbin
    mkdir ${{MAGISKTMP}}
    mount tmpfs tmpfs ${{MAGISKTMP}}
    chmod 755 ${{MAGISKTMP}}

on post-fs-data
    #remove rusty-magisk gearlock module
    rm /data/ghome/gearboot/overlay/rusty-magisk/init/init.superuser.rc
    rm /data/.rusty-magisk/magisk.apk
    rm /data/.rusty-magisk/magisk
    rm /data/ghome/.local/bin/rusty-magisk


    start logd
    start adbd
    rm /dev/.magisk_unblock
    copy MAGISK_FILES_BASE/overlay.sh /dev/magisk_overlay.sh
    exec u:r:su:s0 root root -- MAGISK_FILES_BASE/busybox sh -o standalone /dev/magisk_overlay.sh
    rm /dev/magisk_overlay.sh
    # start magisk post-fs-data event
    start ${{POSTFSDATA}}

    # wait all magisk post-fs-data jobs are completed or 40s  has passed
    wait /dev/.magisk_unblock 40
    rm /dev/.magisk_unblock

service ${{POSTFSDATA}} ${{MAGISKTMP}}/magisk --post-fs-data
    user root
    seclabel u:r:magisk:s0
    oneshot

service ${{SERVICE}} ${{MAGISKTMP}}/magisk --service
    class late_start
    user root
    seclabel u:r:magisk:s0
    oneshot

on property:sys.boot_completed=1

    # start magisk boot_completed event
    start ${{BOOTCOMPLETED}}

    # remove magisk service traces from some detection
    # although detect modified init.rc is not always correct

    exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop --delete init.svc.${{POSTFSDATA}}
    exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop --delete init.svc.${{SERVICE}}
    exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop --delete init.svc.${{BOOTCOMPLETED}}
    exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop --delete init.svc_debug_pid.${{POSTFSDATA}}
    exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop --delete init.svc_debug_pid.${{SERVICE}}
    exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop --delete init.svc_debug_pid.${{BOOTCOMPLETED}}

    # hide unencrypted data
    exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop ro.crypto.state encrypted

    # custom script
    exec_background u:r:magisk:s0 root root -- ${{MAGISKTMP}}/busybox sh -o standalone ${{MAGISKTMP}}/emu/magisksu_survival.sh

service ${{BOOTCOMPLETED}} ${{MAGISKTMP}}/magisk --boot-complete
    user root
    seclabel u:r:magisk:s0
    oneshot
