
              

          on early-init
              # initialize magisk enviroment
              umount /sbin
              mkdir ${{MAGISKTMP}}
              mount tmpfs tmpfs ${{MAGISKTMP}}
              chmod 755 ${{MAGISKTMP}}

          on post-fs-data
              #remove rusty-magisk gearlock module
              rm /data/ghome/gearboot/overlay/rusty-magisk/init/init.superuser.rc
              rm /data/.rusty-magisk/magisk.apk
              rm /data/.rusty-magisk/magisk
              rm /data/ghome/.local/bin/rusty-magisk

              start logd
              start adbd
              rm /dev/.magisk_unblock
              copy MAGISK_FILES_BASE/overlay.sh /dev/magisk_overlay.sh
              exec u:r:su:s0 root root -- MAGISK_FILES_BASE/busybox sh -o standalone /dev/magisk_overlay.sh
              rm /dev/magisk_overlay.sh
              # start magisk post-fs-data event
              start a5IJtGGls4

              # wait all magisk post-fs-data jobs are completed or 40s  has passed
              wait /dev/.magisk_unblock 40
              rm /dev/.magisk_unblock

          service a5IJtGGls4 ${{MAGISKTMP}}/magisk --post-fs-data
              user root
              seclabel u:r:magisk:s0
              oneshot

          service 4AwOuvF4q90ls ${{MAGISKTMP}}/magisk --service
              class late_start
              user root
              seclabel u:r:magisk:s0
              oneshot

          on property:sys.boot_completed=1

              # start magisk boot_completed event
              start V3PFGrQBJB8p

              # remove magisk service traces from some detection
              # although detect modified init.rc is not always correct

              exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop --delete init.svc.a5IJtGGls4
              exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop --delete init.svc.4AwOuvF4q90ls
              exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop --delete init.svc.V3PFGrQBJB8p
              exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop --delete init.svc_debug_pid.a5IJtGGls4
              exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop --delete init.svc_debug_pid.4AwOuvF4q90ls
              exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop --delete init.svc_debug_pid.V3PFGrQBJB8p

              # hide unencrypted data
              exec u:r:magisk:s0 root root -- ${{MAGISKTMP}}/magisk resetprop ro.crypto.state encrypted

              # custom script
              exec_background u:r:magisk:s0 root root -- ${{MAGISKTMP}}/busybox sh -o standalone ${{MAGISKTMP}}/emu/magisksu_survival.sh

          service V3PFGrQBJB8p ${{MAGISKTMP}}/magisk --boot-complete
              user root
              seclabel u:r:magisk:s0
              oneshot
